extends layout

block content
  h1 Users
  p Welcome to Users's Page
  ul#user_list
    each val,index in data
      li= index + ":" + val.name + ":" + val.email
        a.del(href="javascript:void;" data-id= val.id) del

  h1 add user
  div
    input(type="text" name="name" placeholder="name" id='a_name')
    input(type="text" name="email" placeholder="email" id="a_eamil")
    button#add_user add user

  h1 search user
  input(type="text" name="name" placeholder="name" id="s_name")
  p#search_user_result
  button#search_user search user
