extends layout

block content
  h1 Users
  p Welcome to Users's Page
  ul
    each val index in data
      li= index + ":" + val

  h1 add user
  form(action="/user" method="post")
    input(type="text" name="name" placeholder="name")
    input(type="text" name="email" placeholder="email")
    input(type="submit" value="submit")