extends layout

block content
  h1 Users
  p Welcome to Users's Page
  ul#user_list
    each val,index in data
      li= index + ":" + val.name + ":" + val.email
        a.del(href="javascript:void;" data-id= val.id) del


  h1 add user
  div
    input(type="text" name="name" placeholder="user's name" id='a_name')
    input(type="text" name="email" placeholder="user's email" id="a_email")
    button#add_user add user

  h1 add lesson
  div
    input(type="text" name="name" placeholder="lesson's name" id='l_name')
    button#add_lesson add lesson

  h1 add tag
  div
    input(type="text" name="name" placeholder="tag's name" id='t_name')
    button#add_tag add tag

  h1 search user
  input(type="text" name="name" placeholder="name" id="s_name")
  p#search_user_result
  button#search_user search user
